<nav class="nav-bar">
    <div><a href="/"><h2 class="">LOGO</h2></a></div>
    <div>
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a>
        <a href="/products">Product</a>
        <a href="/products/create">Create</a>
        <!-- <a href="/add-product">Add Product</a> -->
    </div>
</nav>
<br><br>